:root{
    --body-bg: #f3f5f7;
}
body{
    font-family: "Poppins", sans-serif;
}
.collapse{
    top: 1.2em;
}
textarea.content{
    min-height: 15rem;
}
.nav a:hover{
    background: var(--grey-light);
    color: inherit;
}
.btns button{
    margin: 0 .5em .5em 0;
}
@media only screen and (min-width: 976px){

}
@media only screen and (min-width: 768px){
    .main{
        margin-left: 250px;
    }
}
@media only screen and (min-width: 976px){

}